
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

@Html.ActionLink("Manage Movies", "MovieManage", "Movie", new { Style = "font-size:20px;" })
<br /><br />
@Html.ActionLink("Manage Genres", "GenreManage", "Movie", new { Style = "font-size:20px;" })
<br /><br />
@Html.ActionLink("Manage Users", "UserManage", "Movie", null, new { Style = "font-size:20px;" })
<br /><br />